#step
{
   margin-top:70px;
   padding-top:40px;
    /* background-image: url('/assets/images/download.png');  */
   font-family: serif;
   overflow-y: auto;
   height: 700px;
   background: #9053c7;
   background: linear-gradient(-135deg,#c850c0,#4158d0);
   
   
}
#steps{
 text-align: center;
 
}
.matStepLabel
{
   color:black;
}

.mat-step-header .mat-step-label.mat-step-label-active {
   color: #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}